$themeColor:#FF3366;
$headerBarHeight:45px;
$headerBarBg:#fff;
$searchBoxBg:#E7E7E7;
$searchBoxHeight:40px;
$tipMsgHeight:60px;
$tipMsgBg:#FFEBEB;
$tipMsgBgBorderColor:#ffdddd;
$tipNumsBg:#FF6262;
$tipNumsWidth:35px;
$commonActiveBtnBg:#ff8000;
$commonInActiveBtnBg:#CCCCCC;
$commonBtnBg:#fff;
$commonBtnHeight:40px;
$commonMsgTipsColor:#ff6262;
$footerBarHeight:60px;
$footerBarBg:#fff;
$footerBarLiNums:5;